%h2 Plans

%ul
  - Plan.all.each do |plan|
    %li= link_to "Switch to the #{ plan.name } plan", change_subscription_path(@subscription, new_plan_id: plan.id), :method => :put

%h2 Billing Information

= form_for @subscription do |f|
  .error_messages
    - if @subscription.errors.any?
      %h2 Something went wrong!
      %ul.errors
        - @subscription.errors.full_messages.each do |msg|
          %li= msg

  - if Rails.env.test? # capybara won't set hidden fields
    = f.text_field   :stripe_card_token
  - else
    = f.hidden_field :stripe_card_token

  = render 'card_fields', locals: { f: f }

  = f.submit 'Update your credit card', class: 'btn primary large'

= link_to "cancel account", subscription_path(@subscription), :method => :delete

