= title 'Sign Up'

%h2 You have chosen the #{ @plan.name } plan
%p
  This plan costs
  %strong= number_to_currency @plan.price
  per month

= form_for @subscription do |f|
  .error_messages
    - if @subscription.errors.any?
      %h2 Something went wrong!
      %ul.errors
        - @subscription.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :plan_id, value: @plan.id
  = f.hidden_field :stripe_card_token

  = render 'card_fields', locals: { f: f }

  = f.submit "Signup for the #{ @plan.name } plan", class: 'btn primary large'
